USE [master]
GO
/****** Object:  Database [web]    Script Date: 27/03/2024 13:11:35 ******/
CREATE DATABASE [web]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'web', FILENAME = N'C:\Users\Alumno\web.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'web_log', FILENAME = N'C:\Users\Alumno\web_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [web]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 27/03/2024 13:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[Edad] [int] NULL,
	[Genero] [nvarchar](10) NULL,
	[Correo_Electronico] [nvarchar](100) NULL,
	[Departamento] [nvarchar](100) NULL,
	[Cargo] [nvarchar](100) NULL,
	[Salario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([EmpleadoID], [Nombre], [Apellido], [Edad], [Genero], [Correo_Electronico], [Departamento], [Cargo], [Salario]) VALUES (1, N'Cristian', N'Ramirez Bravo', 18, N'M', N'feli000cris@gmail.com', N'Marketing', N'Estudio de datos', CAST(1243.00 AS Decimal(10, 2)))
INSERT [dbo].[Empleado] ([EmpleadoID], [Nombre], [Apellido], [Edad], [Genero], [Correo_Electronico], [Departamento], [Cargo], [Salario]) VALUES (2, N'qwer', N'qwer', 18, N'M', N'feli000cris@gmail.com', N'Marketing', N'wqer', CAST(123232.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
USE [master]
GO
